<mat-toolbar color="primary">
  <span>
    <a mat-button routerLink="/">Livros</a>
  </span>
  <span class="separador"></span>
  <ul>
    <li>
      <a mat-button routerLink="/criar" routerLinkActive="mat-accent">
        Novo Livro
      </a>
    </li>
    <li>
      <a mat-button routerLink="/login" routerLinkActive="mat-accent">
        Login
      </a>
    </li>
    <li>
      <a mat-button routerLink="/signup" routerLinkActive="mat-accent">
        Cadastrar
      </a>
    </li>
  </ul>
</mat-toolbar>
