mat-accordion {
  width: 100%;
  margin-bottom: 2rem;
}

mat-expansion-panel {
  width: 100%;
  margin: 1rem;
}

:host {
  margin-top: 1rem;
  display: block;
}
mat-spinner {
  margin: auto;
}

.livro-imagem {
  width: 100%;
  display: flex;
  justify-content: center;
}
.livro-imagem > img {
  max-width: 50%;
}

mat-paginator {
  margin-top: 1rem;
}
