<mat-spinner *ngIf="estaCarregando"></mat-spinner>
<mat-accordion *ngIf="colection.length > 0 && !estaCarregando">

  <mat-expansion-panel *ngFor="let book of colection">

    <mat-expansion-panel-header>{{ book.titulo }}</mat-expansion-panel-header>
    <p>Autor: {{ book.autor }}</p>
    <p>N° Indentificação: {{ book.id }}</p>
    <p>N° de paginas: {{ book.Npages }}</p>

    <mat-action-row>
      <a mat-button color="primary" [routerLink]="['/editar', book.id]">EDITAR</a>
      <button mat-button color="warn" (click)="onDelete(book.id)">REMOVER</button>
    </mat-action-row>

  </mat-expansion-panel>

</mat-accordion>

<p class="mat-body" *ngIf="colection.length <= 0 && !estaCarregando">
  Nenhum Book cadastrado
</p>
