<div>
  <h2>Cadastre um novo livro</h2>
  <div>
    <label for="">Numero de identificação</label>
    <input type="text" [(ngModel)]='id'>
  </div>
  <div>
    <label for="">Titulo</label>
    <input type="text" [(ngModel)]='titulo'>
  </div>
  <div>
    <label for="">Autor</label>
    <input type="text" [(ngModel)]='autor'>
  </div>
  <div>
    <label for="">Numero de paginas</label>
    <input type="text" [(ngModel)]='Npages'>
  </div>
  <button (click)="Cadastrar()" >Cadastrar</button>
</div>
