mat-card {
  width: 80%;
  margin-bottom: 2rem;
  border-top: .50rem solid #9286d8;
}

mat-form-field,input {
  width: 100%;
}

.container-input {
  display: flex;
  flex-direction: column;
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
}

.imagem-preview {
  height: 5rem;
  margin: 1rem 0;
}
.imagem-preview img {
  height: 100%;
}
